body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #000000;
    color: hsl(175, 97%, 74%);
    padding: 15px 0;
    text-align: center;
}


h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.categoria {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.categoria img {
    width: 150px;
    height: 150px;
}

.libro {
    display: none; 
}

.libro:target {
    display: block; 
}

.btn-comprar {
    display: inline-block;
    background: #ff0000;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-comprar:hover {
    background: #000000;
}
